@model ThreadCreateModel

<h1>Create a shiny new thread</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" asp-for=@Model.BoardId />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="text" asp-for="Name" />
                <span asp-validation-for="Name" ></span> <br />

                 <textarea asp-for="Description" >


                 </textarea>
                <span asp-validation-for="Description" ></span> <br />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DisplayBoard" asp-controller="Boards">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
