@model ThreadEditModel

<h1>Edit</h1>

<h1>@Model.Name</h1>
<div>
    <form asp-action="Edit" asp-controller="Threads">
        <div class="form-group">
            <input type="text" asp-for="Name" />
            <input type="hidden" asp-for="BoardId" />
            <input type="hidden" asp-for="ThreadId" />
            <span asp-validation-for="Name" class="text-danger"></span> <br />

            <textarea asp-for="Description">


            </textarea>
            <span asp-validation-for="Description" class="text-danger"></span> <br />
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </form>
</div>
