@model PostCreateModel

<h1>Create a dope new post</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-threadId=@Model.ThreadId enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                 <textarea asp-for="Text" >


                 </textarea>
                <span asp-validation-for="Text" ></span> <br />
                <input type="file" asp-for="Files" multiple />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Threads" asp-route-threadId=@Model.ThreadId>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
